@import 'steam';
@import 'lomo-theme';
@import 'lomo-toolbox';

.component:extend(.card) {
    display: block;
    background: @component-background;
}

.field:extend(.card) {
    display: block;
    background: @field-background;
}

.button:extend(.card) {
    padding: 0.8em;
}

.button:hover {
    cursor: pointer;
}

