@import "mixins.less";
@import "variable.less";
@import "normalize.less";

html {
  font-family: sans-serif;
}

.hidden,
[hidden] {
  display: none !important;
}

.rounbded {
  border-radius: @rounded-radius !important;
}
