

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: @border-margin;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: @rounded-radius;
  max-width: 100%;
  height: auto;
}

mark {
  background-color: antiquewhite;
  padding: .2em;
}

abbr[title] {
  cursor: help;
  text-decoration: underline dotted;
  text-decoration-skip-ink: none;

  &.initialism {
    font-size: .875rem;
    text-transform: uppercase;
  }
}

